@model CheeseMVC.ViewModels.EditCheeseViewModel
<h1>@ViewBag.title</h1>
<form asp-controller="Cheese" asp-action="Remove"  method="post">

   
        <div>
            
        </div>
        <br />
    
    <input type="submit" value="Remove Selected Cheeses(s)" />
</form>